/* Estilo por defecto */
 
 
input:required:invalid {
 
border: 1px solid red;
 
}
 
input:required:valid {
 
border: 1px solid green;
 
}

.divDisabled{
background:#FFE1E2 !important; 	
}
.divDisabled a{
color:#000;	
	}


.disabled{
 pointer-events:none;
 cursor:default;	
	}
	
input{	
	
	}
/* CSS Document */
.TablaScroll{
    height:250px;
	overflow-y:scroll;	
	}
